
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color:rgb(25, 121, 1); margin: 0 auto;border-radius: 0px 0px 20px 20px;">
        <div class="text">
            Educational Management Information System
        </div>
    </div>
    </div>
    <button><a href="/main"><strong>Home page</strong></a></button>
  </div>
  <!-- <div class="row" style="margin: 50px auto; margin-left: 30px;">
    <a href=""><strong>Home page</strong></a>
  </div>
   -->