<div class=" col-lg" id="leftmodule">
    <div class="logincontainer" style="border-radius: 20px 20px 20px 20px;">
        <div class="loginlogo">
           <a href=""><img src="./assets/logo.svg"></a>
        </div>
        <div class="loginsignin">
            <div class="loginhead">
                <h4 class="logintitle ">கல்வி மேலாண்மைத் தகவல் மையம்</h4>
            </div>
            <div class="loginhead">
                <h3 class="logintitle">Login</h3>
            </div>
            <form name="loginForm" class="ng-untouched ng-pristine ng-invalid">
                <div class="form-group">
                    <label class="username">User Name</label>
                    <input #formValue class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="username" placeholder="username" type="text" >
                    <b>{{email}}</b>
                </div>
                <div class="form-group m-0">
                    <label class="passwrd">Password</label>
                    <input #PasswordValue class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="password" placeholder="Password" type="password">
                    <b>{{password}}</b>
                </div>
                <div class="row loginextra mx-0 mt-1 p-0">
                    <div class="col align-right p-0">
                        <a class="loginlink" href="" id="loginforgot">Forgot Password ?</a>
                   </div>
                </div>
                <div class="btn-group footer-btn-group d-block">
                    <button (click)="submit(formValue.value,PasswordValue.value)" class="btn btn-outline-primary recover-pass" type="button">Login</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
                
